footer{
    width: 100%;
    background: #FCF8E3;
    min-height: 140px;
    margin-top: 20%;
}
footer p {
	color: #777;
    font-size: 30px;
    text-align: center;
    margin: auto;
    padding-top: 25px;
}
#social{
	text-decoration: underline;
}
.social-button{
	margin: auto;
	text-align: center;
	font-size: 40px;
}
.fa{
	color: #ceb0b2;
	padding-right: 15px;
}
