.c-section {
    padding: 5rem 1rem;
}

.c-section__title {
    width: 100%;
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: 'Indie Flower', cursive;
    font-size: 4rem;
}

.c-section__container {
    width: 100%;
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
}
