.panel{
	background-image: url("{{ site.baseurl }}/../../assets/images/land3.jpg");
	width:100%;
	max-height: 100%;
	padding: 100px 0 100px 0;
}
.hero-title{
	font-size: 50px;
	width: 50%;
	margin: auto;
	text-align: center;
}
.subtitle{
	width: 70%;
	margin: auto;
	text-align: center;
	font-size: 25px;
}