footer{
    width: 100%;
    background: #FF8362;
    min-height: 150px;
    position: relative;
}
footer p {
	color: #777;
    font-size: 30px;
    text-align: center;
    margin: auto;
    padding-top: 3%;
}
#social{
	text-decoration: underline;
}
.social-button{
	margin: auto;
	text-align: center;
	font-size: 40px;
}
.fa{
	color: #ceb0b2;
	padding-right: 2%;
}
