.c-button {
  padding: 0.8rem 2rem;
  border: 1px solid #2A2E31;
  border-radius: 5px;
  background-color: transparent;
  color: #2A2E31;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
}
