.page-contact {
	padding: 15px;
}
.contact-map{
	height: 100px;
	background-color: orange;
	margin-bottom: 20px;
}
.contacts-left-side{
	width: 120px;
    display: inline-block;
	font-size: 25px;
	color: #D6A354;
	font-weight: 500;
	text-align: left;
	font-family: 'Lobster', cursive;
}
.contacts-right-side{
    display: inline-block;
	font-size: 20px;
	text-align: left;
	color: #CCC;
}


@media screen and (min-width: 800px) {

	.contacts-col {
		float: left;
		width: 50%;
	}
}