<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>My Portofolio</title>

        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">
        <link rel="stylesheet" href="./css/main.css">
    </head>

    <body>

        <header class="c-page-header">

            <span class="c-logo"></span>

            <nav class="c-page-navigation">
                <ul class="c-list c-page-menu">

                    <li class="c-page-menu__item">
                        <a href="index.html" class="c-page-menu__link">Home</a>
                    </li>

                    <li class="c-page-menu__item">
                        <a href="about.html" class="c-page-menu__link">About</a>
                    </li>

                    <li class="c-page-menu__item">
                        <a href="projects.html" class="c-page-menu__link">Projects</a>
                    </li>

                    <li class="c-page-menu__item">
                        <a href="contact.html" class="c-page-menu__link">Contact</a>
                    </li>

                </ul>
            </nav>

        </header>

        {{ content }}
    </body>

</html>
